@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap");

.Label {
  font-size: 2rem;
  font-weight: 500;
  font-family: "Arimo", serif;
  color: rgba(67, 14, 127, 0.768);
}

.Input {
  border: none;
  padding: 2.5px;
  border-bottom: 1.5px solid #171212;
  background-color: transparent;
  font-size: 24px;
  margin-right: 20px;
  margin-left: 20px;
}

@media screen and (max-width: 380px) {
  .Label {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;
  }

  .Input {
    margin: 2px;
  }
}
