body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 249, 204);
}

.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-page h1 {
  font-size: 3.5rem;
  font-family: "Host Grotesk", sans-serif;
  margin-top: 3em;
  color: rgb(4, 13, 146);
  text-align: center;
}

.landing-page h3 {
  font-family: "Host Grotesk", sans-serif;
  font-size: 2rem;
  text-align: center;
}

.link-btn {
  padding: 0.4em;
  font-family: "Host Grotesk", sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: rgb(50, 195, 146);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.link-btn:hover {
  background-color: chartreuse;
}

h1 {
  font-size: 2.5em;
  font-family: "Host Grotesk", sans-serif;
  line-height: 1.1;
  color: rgb(6, 46, 55);
  text-align: center;
}

.back-btn {
  padding: 6px;
  margin: 10px;
  font-family: "Host Grotesk", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  background-color: rgb(50, 195, 146);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.back-btn:hover {
  background-color: chartreuse;
}

.sort-controls {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0.5em;
}

.sort-order,
.sort-field {
  background-color: rgba(7, 90, 135, 0.942);
  color: white;
  padding: 5.6px;
  font-size: 1.1rem;
  font-family: "Arimo", serif;
  border-radius: 8px;
  cursor: pointer;
}

.sort-field {
  margin-left: 0.3rem;
}

@media screen and (max-width: 340px) {
  .sort-order,
  .sort-field {
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sort-order {
    margin: 2px auto;
  }

  .sort-field {
    margin: 2px auto;
  }
}
