body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 249, 204);
}

h1 {
  font-size: 2.5em;
  font-family: "Host Grotesk", sans-serif;
  line-height: 1.1;
  color: rgb(6, 46, 55);
  text-align: center;
}

